<!DOCTYPE html>
<html lang="en">
    <head>
        {% set _desc = block('description') %}
        {% set description = "Matt Cavanagh is a full stack web developer based in the South Yorkshire town of Barnsley, United Kingdom, specializing in PHP and JavaScript applications." %}
        {% if _desc is not empty %}
            {% set description = _desc %}
        {% endif %}
        <title>{% block title %}{% endblock %}</title>
        {% include 'common/meta.twig' %}
{% block meta %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset_url }}/css/main.css?{{ version }}">
{% block stylesheets %}{% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
{% include 'common/header.twig' %}
{% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{{ asset_url }}/js/global.js?{{ version }}"></script>
{% block scripts %}{% endblock %}
{% if environment == 'production' %}
        <script src="{{ asset_url }}/js/ga.js"></script>
{% endif %}
    </body>
</html>
