{% extends 'template.twig' %}

{% block title %}Welcome!{% endblock %}

{% block stylesheets %}
<link href="{{ asset_url }}/css/pages/landing.css{{ version }}" rel="stylesheet">
{% endblock %}

{% block body %}
<section id="landing">
    <div class="row">
        <div class="jumbotron text-center">
            <h1>I make websites sing.</h1>
            <h3>Matt Cavanagh - Full stack web developer & DevOps Engineer</h3>
            <div class="half-row">
                <a class="btn btn-primary btn-lg" href="{{ base_url }}/portfolio" role="button">Check out my Portfolio!</a>
            </div>
            <div class="half-row">
                <a class="btn btn-default" href="https://docs.google.com/document/d/1LA0YePMLR8M7KVZt8fdU-JcdUlKw4VLFomQvjuAi6q8" target="_blank">Curriculum Vitae</a>
            </div>
            <div class="social-links half-row">
                <a href="https://www.twitter.com/Maelstromeous" target="_blank" alt="My twitter" class="twitter" data-location="landing">
                    <i class="fa fa-twitter fa-3x" data-toggle="tooltip" title="Tweet me!"></i>
                </a>
                <a href="https://github.com/Maelstromeous" target="_blank" alt="Check out my code on GitHub!" class="github" data-location="landing">
                    <i class="fa fa-github fa-3x" data-toggle="tooltip" title="Check out my code on GitHub!"></i>
                </a>
                <a href="{{ email|raw }}" alt="Shoot me an email!" class="email" data-location="landing">
                    <i class="fa fa-envelope fa-3x" data-toggle="tooltip" title="Shoot me an email!"></i>
                </a>
            </div>
            <p>
                {{ email_text|raw }}
            </p>
        </div>
    </div>
</section>
{% endblock %}
