{% extends 'template.twig' %}

{% block title %}Portfolio{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
{% endblock %}

{% block body %}
<section id="portfolio-index">
    <div class="row no-margin">
        <div class="col-sm-8 col-xs-12 col-sm-offset-2 col-xs-offset-0 text-center">
            <h1>My Portfolio</h1>
            <p>
                Below you'll find all of my past and current work, projects I feel reflect my skills as a web developer. There&rsquo;s a mixture of profesional, personal and community projects, briefly listing what technologies I&rsquo;ve used, completion dates and links to each.
            </p>
        </div>
    </div>
    <div class="row no-margin">
        <div id="technologies" class="text-center tech-icons">
            <div class="col-xs-12">
                <div class="tech-icon-container">
                    <i class="devicon-angularjs-plain" data-toggle="tooltip" title="AngularJS"></i>
                    <i class="devicon-atom-plain" data-toggle="tooltip" title="Atom"></i>
                    <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 3 / 4 Alpha"></i>
                    <img src="{{ base_url }}/assets/img/bolt-grey.png" data-toggle="tooltip" title="Bolt CMS">
                    <i class="devicon-bower-plain" data-toggle="tooltip" title="Bower"></i>
                    <i class="devicon-codeigniter-plain" data-toggle="tooltip" title="Codeigniter 2"></i>
                    <i class="devicon-docker-plain" data-toggle="tooltip" title="Docker"></i>
                    <i class="devicon-git-plain" data-toggle="tooltip" title="Git"></i>
                    <i class="devicon-github-plain" data-toggle="tooltip" title="GitHub"></i>
                    <i class="devicon-grunt-plain" data-toggle="tooltip" title="Grunt"></i>
                    <i class="devicon-javascript-plain" data-toggle="tooltip" title="JavaScript"></i>
                    <img src="{{ base_url }}/assets/img/jenkins-grey.png" data-toggle="tooltip" title="Jenkins">
                    <br>
                    <i class="devicon-jquery-plain" data-toggle="tooltip" title="jQuery"></i>
                    <i class="devicon-less-plain-wordmark" data-toggle="tooltip" title="LESS"></i>
                    <img src="{{ asset_url }}/img/materalizecss-grey.png" width="35" data-toggle="tooltip" title="Materalize CSS">
                    <i class="devicon-mysql-plain-wordmark" data-toggle="tooltip" title="Mysql / MariaDB"></i>
                    <i class="devicon-nginx-plain" data-toggle="tooltip" title="NGINX Webserver"></i>
                    <i class="devicon-nodejs-plain" data-toggle="tooltip" title="NodeJS"></i>
                    <i class="devicon-photoshop-plain" data-toggle="tooltip" title="Photoshop CS2+"></i>
                    <i class="devicon-php-plain" data-toggle="tooltip" title="PHP 5.5+ / 7"></i>
                    <i class="devicon-redis-plain" data-toggle="tooltip" title="Redis"></i>
                    <i class="devicon-ubuntu-plain" data-toggle="tooltip" title="Ubuntu 16.04+"></i>
                    <img src="{{ base_url }}/assets/img/vagrant-grey.png" data-toggle="tooltip" title="Vagrant + Virtualbox">
                    <img src="{{ asset_url }}/img/websockets-grey.png" width="35" data-toggle="tooltip" title="Websockets">
                </div>
                <p class="caption text-center">
                    All tech I've used and/or continue to use
                </p>
            </div>
        </div>
        <div class="text-center visible-xs row">
            <div class="col-xs-12">
                <p class="no-margin">
                    <i class="fa fa-info-circle"></i> To view previews of the sites, simply tap the card. Hover events on mobile and whatnot.
                </p>
            </div>
        </div>
        {#<div class="text-center">
            <p>
                <i class="fa fa-balance-scale"></i> <small>Legal: For works that are specified as "Professional", I forgo (and have never claimed) any ownership to the work.</small>
            </p>
        </div>#}
    </div>
    <div class="row">
        <div class="col-xs-12 hidden-xs hidden-sm">
            <ul class="nav nav-tabs centered-tabs" role="tablist">
                {% include 'portfolio/index/subnav.twig' %}
            </ul>
        </div>
        <div class="col-xs-12 visible-xs visible-sm">
            <ul class="nav nav-pills centered-tabs">
                {% include 'portfolio/index/subnav.twig' %}
            </ul>
        </div>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="all">
            {% include 'portfolio/index/all.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="featured">
            {% include 'portfolio/index/featured.twig' %}
        </div>
        <div role="tabpanel" class="tab-pane" id="personal">
            {% include 'portfolio/index/personal.twig' %}
        </div>
        {#<div role="tabpanel" class="tab-pane" id="professional">
            {% include 'portfolio/index/professional.twig' %}
        </div>#}
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ base_url }}/assets/js/vendor/jquery.easing.1.3.js"></script>
<script src="{{ base_url }}/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
<script src="{{ base_url }}/assets/js/vendor/masonry.pkgd.min.js"></script>
<script src="{{ base_url }}/assets/js/previews.js{{ version }}"></script>
<script src="{{ base_url }}/assets/js/portfolio.js{{ version }}"></script>
{% endblock %}
